# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.thrrtmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Stortyjtyjtjtyjtyjtye
Thumbrtjjtyjtyjs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sasuytus-cache
/.soutyrcemaps
/.vertyjtysions
/.vscjtyjtyjode
/coverage
/dist
/nodjyte_modules
/platforms
/pljtytyjtyugins
/www
/iosjty
/android
.gradle
